* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    background-color: #111c1c;
    height: 100vh;
    width: 100%;
    overflow-y: scroll;
}

.font-big {
    font-size: 3rem;
    line-height: 4rem;
}

.font-medium {
    font-size: 1.5rem;
    line-height: 2rem;
}

.font-regular {
    font-size: 1.1rem;
    line-height: 1.4rem;
}

.font-small {
    font-size: 0.8rem;
    line-height: 1rem;
}

.padding-big {
    padding: 4rem;
}

.padding-medium {
    padding: 3rem;
}

.padding-regular {
    padding: 2rem;
}

.padding-null {
    padding: 0;
}

.padding-small {
    padding: 1rem;
}

.padding-slim {
    padding: 0.5rem;
}

h3 {
    margin: 40px 0 0;
}


li {
    display: inline-block;
    margin: 0 10px;
}

a {
    color: #8BB174;
}

#app {
    font-family: 'Oswald', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #d9ebcf;
}

/* Desktop */
.alert-container {
    margin-left: 10rem;
    margin-right: 10rem;
    border: #426B69 1px solid;
    border-radius: 2rem;
    background-color: #B5CA8D;
    color: #426B69;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
    align-items: center;
    margin-left: 10rem;
    margin-right: 10rem;
    font-size: large;
    label {
        width: 40%;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

    input {
        width: 40%;
        margin-bottom: 1rem;
        font-size: large;
    }

    button {
        padding: 1rem;
        background-color: #42b983;
        color: #223b3b;
        font-weight: 800;
        font-size: large;
        border-color: #2A4849;
        border-radius: 0.5rem;

        &:hover {
            background-color: #69f1b4;
            color:#121a10;
            cursor: pointer;
        }
    }
}

.navbar-container {
    background-color: #2A4849;
    height: 5vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 1rem;
    position: absolute;
    z-index: 999;
    // box-shadow: 0px 0px 10px 0px #090c08;

    .fa-user-secret {
        height: 2.5rem;
    }

}

.links {
    align-self: flex-start;
    width: 80%;
    text-align: right;
    margin-top: 1rem;
    
}

.navbar-container a.router-link-exact-active {
    color: #42b983;
}

.navbar-container a {
    font-weight: bold;
    color: #d9ebcf;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;


    &:hover {
        color: #42b983;
    }
}

.icon {
    width: 5rem;
    height: 100%;
    align-self: flex-start;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 1rem;
}

main {
    padding-top: 7vh;
}

.hero-container {
    position: relative;
    align-items: center;
    background-color: #090c08;
    margin-bottom: 10vh;
}

.hero-show {
    align-self: center;
    margin: auto;
    // border-radius: 50%;
}

.keyshape {
    position: absolute;
    width: 65px;
    
}

#key1 {
    top: 7.2vh;
    right: calc(50% - 36px);
    transform: rotate(-45deg);
    fill: #48e1e1;
}


#key2 {
    top: 7vh;
    right: calc(50% - 23px);
    transform: rotate(-5deg);
    fill: #e4c52c;
}


#key3 {
    top: 6.5vh;
    right: calc(50% - 48px);
    transform: rotate(-85deg);
    fill: #e4c52c;
}

.button-container button {
    height: 60px;
    width: 120px;
    font-size: large;
    font-weight: 600;
    border: none;
    border-radius: 10%;
    background-color: #B5CA8D;

    &:hover {
        background-color: #69f1b4;
        color:#121a10;
        cursor: pointer;
    }
}

.content-container {
    display: flex;
    flex-direction: column;
    height: 400vh;
    background-color: #d9ebcf;
    color: #090c08;

    > .container {
        // TODO
    }
}

.title-subtext {
    margin-bottom: 10%;
    height: 30vh;
    & h1 {
        margin-bottom: 2rem;
    }
}

.subtitle {
    padding-top: 0;
    padding-bottom: 0;
}

.text-image {
    display: flex;
    text-align: left;
    margin-bottom: 10%;
    height: 10%;
    background-color: #121a10;

    & img {
        width: 30%;
        margin-left: 1rem;
        border-radius: 0.4rem;
    }

    & .card {
        border-radius: 0.8rem;
        padding: 1rem;
        width: 70%;
        color: #111c1c;
        background-color: #d9ebcf;
    }
}

.card-image {
    position: relative;
    height: 50%;

    & img {
        width: 100%;
        height: 100%;
    }

    & p {
    }
}

.card-container {
    text-align: left;
    width: 50%;
    height: 30vh;
    padding: 1rem;
    padding-top: 4rem;
    background-color: #d9ebcf;
    color: #111c1c;
    border-radius: 1rem;
    box-shadow: 10px 15px 20px 5px #223b3b;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    line-height: 1.2rem;

    & p {
        border-top: 1px solid #426B69;
        // border-radius: 0.2rem;
        padding: 1rem;
    }
}

.card-background {
    position: relative;
    height: 40%;
    width: 100%;
    padding-top: 5rem;
    background-color: #2A4849;

    .card-container-relative {
        text-align: left;
        position: relative !important;
        width: 50%;
        height: 30vh;
        padding: 1rem;
        padding-top: 4rem;
        background-color: #111c1c;
        color: #c6c5c6;
        border-radius: 1rem;
        line-height: 1.2rem;
        margin: auto;

        & p {
            border-top: 1px solid #69f1b4;
            padding-top: 0.5rem;
        }
    }
}


.caroussel-background {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 10px;
    font-family: 'DM Sans', sans-serif;
    transition: background .4s ease-in;
    background-color: #2A4849;

    &.blue {
        background-color: #428aa6;
    }


    input[type=radio] {
        display: none;
    }

    .feature {
        position: absolute;
        width: 60%;
        height: 100%;
        left: 0;
        right: 0;
        margin: auto;
        transition: transform .4s ease;
        cursor: pointer;
    }

    .caroussel-container {
        width: 100%;
        max-width: 800px;
        max-height: 600px;
        height: 100%;
        transform-style: preserve-3d;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }

    .features-group {
        position: relative;
        width: 100%;
        height: 100%;
        margin-bottom: 20px;
    }

    img {
        width: 100%;
        height: 100%;
        border-radius: 10px;
        object-fit: cover;
    }

    #item-1:checked ~ .features-group #song-3,
    #item-2:checked ~ .features-group #song-1,
    #item-3:checked ~ .features-group #song-2 {
        transform: translatex(-40%) scale(.8);
        opacity: .4;
        z-index: 0;
    }

    #item-1:checked ~ .features-group #song-2,
    #item-2:checked ~ .features-group #song-3,
    #item-3:checked ~ .features-group #song-1 {
        transform: translatex(40%) scale(.8);
        opacity: .4;
        z-index: 0;
    }

    #item-1:checked ~ .features-group #song-1,
    #item-2:checked ~ .features-group #song-2,
    #item-3:checked ~ .features-group #song-3 {
        transform: translatex(0) scale(1);
        opacity: 1;
        z-index: 1;

        img {
            box-shadow: 0px 0px 10px 0px rgba(81, 81, 81, 0.57);
        }
    }

    .player {
        background-color: #111c1c;
        border-radius: 8px;
        min-width: 300px;
        min-height: 60px;
        padding-top: 0.5rem;
        text-align: left;
    }

    .upper-part {
        position: relative;
        display: flex;
        align-items: center;
        margin-bottom: 12px;
        height: 50px;
        overflow: hidden;
    }

    .song-info {
        width: calc(100% - 32px);
        display: block;
        padding-top: 0.9rem;
    }

    .song-info .title {
        color: #69f1b4;
        font-size: 14px;
        line-height: 24px;
        border-bottom: 1px solid #69f1b4;
        margin-bottom: 0.2rem;
    }

    .sub-line {
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 100%;
    }

    .subtitle, .time {
        font-size: 12px;
        line-height: 20px;
        color: #c6c5c6;
    }

    .time {
        font-size: 12px;
        line-height: 20px;
        color: #a5a5a5;
        font-weight: 500;
        margin-left: auto;
    }

    .info-area {
        width: 100%;
        position: absolute;
        top: 0;
        left: 15px;
        transition: transform .4s ease-in;
    }

    #item-1:checked ~ .player #test {
        transform: translateY(-10px);
    }

    #item-2:checked ~ .player #test  {
        transform: translateY(-75px);
    }

    #item-3:checked ~ .player #test  {
        transform: translateY(-135px);
    }
}

.stair-list-container {
    height: 40%;

    &ul {
        list-style-type: none;
        padding: 0;
        display: flex;
        flex-direction: column;
    }
}

.stair-step {
    display: flex;
    flex-direction: row;
    width: 50%;
    height: 6vh;
    margin-bottom: 1rem;
    background-color: #111c1c;
    // background: linear-gradient(to right, rgba(17,28,28,1) 60%,rgba(17,28,28,0) 100%);
    border-radius: 0.4rem;
    padding: 0.8rem;

    .fa-user-secret {
        width: 3rem;
        height: 3rem;
        margin: auto;
        padding-right: 1rem;
        margin-right: 1rem;
        border-right: solid 1px #69f1b4;
        color: #69f1b4;
    }
    
    @for $i from 1 through 4 {
        &:nth-child(#{$i}) {
          margin-left: calc(#{$i} * 4rem);
        }
    }
}

.step-text {
    text-align: left;
    color: #c6c5c6;
}

.credential-list-container {
    display: flex;
    flex-direction: row;
    height: 200vh;
    padding: 3rem;
    color: #d9ebcf;
}

.credential-item {
    background-color: #111c1c;
    width: 40%;
    height: 12%;
    border-radius: 0.5rem;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 1rem;
    margin-bottom: 1rem;
    text-align: left;

    & svg {
        height: 30%;
        width: 20%;
        margin: auto;
        margin-left: 0;
    }

    & p {
        width: 70%;
        margin: auto;
    }

    & button {
        flex-basis: 100%;
        background-color: transparent;
        color: #d9ebcf;
        border: #d9ebcf solid 2px;
        border-radius: 0.8rem;

        &:hover {
            background-color: #d9ebcf;
            color: #111c1c;
            border-color: #111c1c;
            font-weight: bold;
        }

    }
}

/* Tablet */
@media only screen and (min-width: 600px) and (max-width:900px) {
    .font-big {
        font-size: 3rem;
        line-height: 4rem;
    }
    
    .font-medium {
        font-size: 1.5rem;
        line-height: 2rem;
    }
    
    .font-regular {
        font-size: 1.1rem;
        line-height: 1.4rem;
    }
    
    .font-small {
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .alert-container {
        // TODO
    }
    
    form {
        font-size: medium;
        label {
            width: 40%;
        }
    
        input {
            width: 40%;
            font-size: medium;
        }
    
        button {
            font-size: medium;
            border-radius: 0.5rem;
        }
    }
    
    .navbar-container {
        // box-shadow: 0px 0px 10px 0px #090c08;
    }
    
    .links {
        // TODO
    }
    
    .navbar-container a.router-link-exact-active {
        // TODO
    }
    
    .navbar-container a {
        // TODO
    }
    
    .icon {
        // TODO
    
    }
    
    main {
        // TODO
    }
    
    .hero-container {
        // TODO
    }
    
    .hero-show {
        // TODO
    }
    
    .keyshape {
        width: 65px;
    }
    
    .button-container button {
        font-size: medium;
    }
    
    .content-container {
        // TODO
    
        > .container {
            // TODO
        }
    }
    
    .title-subtext {
        // TODO
        & h1 {
            // TODO
        }
        & p {
            // TODO
            padding-left: 0;
            padding-right: 0;
        }
    }
    
    .text-image {
        // TODO
    
        & p {
            // TODO
            padding-left: 0;
        }
    
        & img {
            // TODO
            padding-right: 0;
        }

        
    }
    
    .card-image {
        // TODO
    
        & img {
            height: 50vh;
        }
    
        & p {
            // font-size: 14px;
        }
    
    }
}

/* Mobile */
@media only screen and (max-width:600px) {
    .alert-container {
        // TODO
    }
    
    form {
        font-size: medium;
        label {
            width: 40%;
        }
    
        input {
            width: 40%;
            font-size: medium;
        }
    
        button {
            font-size: medium;
            border-radius: 0.5rem;
        }
    }
    
    .navbar-container {
        // box-shadow: 0px 0px 10px 0px #090c08;
    }
    
    .links {
        // TODO
    }
    
    .navbar-container a.router-link-exact-active {
        // TODO
    }
    
    .navbar-container a {
        // TODO
    }
    
    .icon {
        // TODO
    
    }
    
    main {
        // TODO
    }
    
    .hero-container {
        // TODO
    }
    
    .hero-show {
        // TODO
    }
    
    .keyshape {
        width: 65px;
    }
    
    .button-container button {
        // font-size: medium;
    }
    
    .content-container {
        // TODO
    
        > .container {
            // TODO
        }
    }
    
    .title-subtext {
        // TODO
        & h1 {
            // TODO
        }
        & p {
            // TODO
        }
    }
    
    .text-image {
        // TODO
    
        & p {
            // TODO
        }
    
        & img {
            // TODO
        }
    }
    
    .card-image {
        // TODO
    
        & img {
            height: 50vh;
        }
    
        & p {
            // font-size: 16px;
        }
    
    }
}
